@{
	ViewData["Title"] = "404 Not Found";
	Layout = "_LayoutErrorPage";
}
<div class="notfound-404">
	<h1>404</h1>
</div>
<h2>We are sorry, Page not found!</h2>
<p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
<a id="countdown404" onclick="loadlogin()">5</a>
@*<div class="notfound-404">
	<a id="countdown404">5</a>
</div>*@

@section Scripts
    {
    <script>
        function loadlogin() {
            location.href = "/"
        }
    </script>
}