@{
	ViewData["Title"] = "404 Not Found";
	Layout = "_LayoutErrorPage";
}
<div class="notfound-404">
	<h1>404</h1>
</div>
<h2>Page That You Search is Not Found</h2>
<div class="notfound-404">
	<a id="countdown404">5</a>
</div>

