@{
}


<select class="selectpicker show-menu-arrow"
        data-style="form-control"
        data-live-search="true"
        title="-- Select your coffee --"
        multiple="multiple">
    <option data-tokens="Espresso">Espresso</option>
    <option data-tokens="Americano">Americano</option>
    <option data-tokens="Mocha">Mocha</option>
    <option data-tokens="Capuccino">Capuccino</option>
    <option data-tokens="Affogato">Affogato</option>
    <option data-tokens="Long Black">Long Black</option>
    <option data-tokens="Macchiato">Macchiato</option>
</select>
@section Scripts
{
    <script>
        $.ajax({
            url: "https://localhost:7273/api/clients"
        }).done((result) => {
            let selectClient = ""
            $.each(result.data, (key, val) => {
                console.log(val)
                selectClient += ` <option value="${val.guid}" data-tokens="${val.name}">${val.name}</option>`
            })
            
            $(".selectpicker").append(selectClient)

        })
        $('.selectpicker').selectpicker({
            style: 'btn-default'
        });
    </script>
}