@using System.Net.Http
@{
}
<div class="col-12 mt-4">
    <p class="text-center h1 fw-bold mb-4 mx-auto mt-1">Employee Ungraded</p>
    <div class="card mb-4">
        <div class="card-header pb-0 p-3">
            @*<h6 class="mb-1">Employee Idle</h6>*@
        </div>
        <div class="card-body p-3">
            <div class="row" id="gradeCard">
            </div>
        </div>
    </div>
</div>
<div class="add-grade">
    <div class="modal" id="modalAddGrade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Grade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3" id="inputGuid">
                            
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Grade</label>
                            <select class="form-select" aria-label="Default select example" id="name">
                                <option selected>Pilih Grade</option>
                                <option value="A" data-salary="5500000">Grade A</option>
                                <option value="B" data-salary="5000000">Grade B</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="salary" class="form-label">Salary</label>
                            <input type="text" class="form-control" id="salary" placeholder="Salary" readonly>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="addGrade()" class="btn btn-primary d-inline-block" data-bs-dismiss="modal">Add Grade</button>
                    <button type="button" class="btn btn-secondary d-inline-block" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        const Token = '@Context.Session.GetString("JWToken")'
         $( document ).ajaxComplete(function() {
            $('[data-bs-placement="top"]').tooltip({
                "html": true,
                "delay": {"show": 200, "hide": 0},
            });
            const tooltipTriggerList = document.querySelectorAll('[data-bs-placement="top"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        });
        const gradeSelect = document.getElementById('name');
        const salaryInput = document.getElementById('salary');

        gradeSelect.addEventListener('change', function () {
            const selectedOption = gradeSelect.options[gradeSelect.selectedIndex];
            const selectedSalary = selectedOption.getAttribute('data-salary');

            salaryInput.value = selectedSalary;
        });
        $.ajax({
            url: "https://localhost:7273/api/grades/GetUngradedEmployee",
            headers: {
                'Authorization': 'Bearer ' + Token
            }
        }).done((result) => {
            let gradeCard = ""
            $.each(result.data, (key, val) => {
                gradeCard += `<div class="col-xl-3 col-md-6 mb-xl-0 mb-4 ms-2 cursor-pointer" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Add Grade for ${val.employeeName}">
                                                 <div class="card card-blog card-plain"  data-bs-toggle="modal" data-bs-target="#modalAddGrade">
                                                <div class="position-relative">
                                                    <a class="d-block shadow-xl border-radius-xl">
                                                               <img src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" class="img-fluid shadow border-radius-xl">
                                                    </a>
                                                </div>
                                                <div class="card-body px-1 pb-0">
                                                    <p class="text-gradient text-dark mb-2 text-sm">${val.nik}</p>
                                                    <a href="javascript:;">
                                                        <h5>
                                                            ${val.employeeName} (${val.phoneNumber})
                                                        </h5>
                                                            <div class="row">
                                                                 <div class="col-4">Email</div>
                                                                 <div class="col-8">${val.email}</div>
                                                            </div>
                                                            <div class="row">
                                                                 <div class="col-4">Gender</div>
                                                                 <div class="col-8">${val.gender == 0 ? "Female" : "Male"}</div>
                                                            </div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <button type="button" class="btn btn-outline-primary btn-sm mt-2 ms-3">${val.skill}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`
                $("#inputGuid").html(`<input type="hidden" value="${val.guid}" id="guidEmployee" />`)
            })
            $("#gradeCard").html(gradeCard)
            
        })

        function addGrade() {
            var gradeData = {
                guid: $("#guidEmployee").val(),
                name: $("#name").val(),
                salary: $("#salary").val(),
            };

            $.ajax({
                url: "https://localhost:7273/api/grades",
                type: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + Token
                },
                data: JSON.stringify(gradeData),
            }).done(function (result) {
                Swal.fire({
                    title: 'Success',
                    text: 'Data has been successfully inserted',
                    icon: 'success'
                }).then(function () {
                    location.reload();
                });
            }).fail(function (error) {
                console.log(error)
                Swal.fire({
                    title: 'Oops',
                    text: 'Failed to insert data. Please try again.',
                    icon: 'error'
                });
            });
        }
    </script>
}