@{
}
<div class="col-12 mt-4">
    <div class="card mb-4">
        <div class="card-header pb-0 p-3">
            <h6 class="mb-1">Employee Idle</h6>
        </div>
        <div class="card-body p-3">
            <div class="row" id="employeeCard">
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $.ajax({
            url: "https://localhost:7273/api/employees/GetAllEmployeeinIdle"
        }).done((result)=>{
            let cardEmployee =""
            $.each(result.data,(key,val)=>{
                cardEmployee += `<div class="col-xl-3 col-md-6 mb-xl-0 mb-4 ms-2">
                            <div class="card card-blog card-plain">
                                <div class="position-relative">
                                    <a class="d-block shadow-xl border-radius-xl">
                                               <img src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" class="img-fluid shadow border-radius-xl">
                                    </a>
                                </div>
                                <div class="card-body px-1 pb-0">
                                    <p class="text-gradient text-dark mb-2 text-sm">${val.nik}</p>
                                    <a href="javascript:;">
                                        <h5>
                                            ${val.fullName} (${val.phoneNumber})
                                        </h5>
                                            <div class="row">
                                                 <div class="col-4">Email</div>
                                                 <div class="col-8">${val.email}</div>
                                            </div>
                                            <div class="row">
                                                 <div class="col-4">Gender</div>
                                                 <div class="col-8">${val.gender == 0?"Female":"Male"}</div>
                                            </div>
                                            <div class="row">
                                                 <div class="col-4">Grade</div>
                                                 <div class="col-8">${val.grade}</div>
                                            </div>
                                            <div class="row">
                                                 <div class="col-4">Salary</div>
                                                 <div class="col-8">${val.salary}</div>
                                            </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <button type="button" class="btn btn-outline-primary btn-sm mt-2 ms-3">${val.skill}</button>
                                    </div>
                                </div>
                            </div>
                        </div>`
            })
            $("#employeeCard").html(cardEmployee)
        })
    </script>
}