@using System.Net.Http
@{
}
<div class="col-12 mt-4">
    <p class="text-center h1 fw-bold mb-4 mx-auto mt-1">Employee Idle</p>
    <div class="card mb-4">
        <div class="card-header pb-0 p-3">
            @*<h6 class="mb-1">Employee Idle</h6>*@
        </div>
        <div class="card-body p-3">
            <div class="row" id="employeeCard">
            </div>
        </div>
    </div>
</div>
<div class="add-account">
    <div class="modal" id="modalAddInterview" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Interview Schedule</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3" id="inputGuid">
                        </div>
                        <div class="mb-3">
                            <label for="interviewDate" class="form-label"> Interview Date</label>
                            <input type="datetime-local" class="form-control" id="interviewDate" placeholder="Interview Date">
                        </div>
                        <div class="mb-3">
                            <label for="clientGuid" class="form-label"> Client Guid</label>
                            <select class="form-select selectClientinInterview" aria-label="Default select example" id="guidClient">
                                <option value="default">Select a client...</option>
                            </select>
                        </div>
                        <div class="mb-3" id="selectPosition">
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label">Notes</label>
                            <input type="text" class="form-control" id="text" placeholder="Text">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="addInterview()" class="btn btn-primary d-inline-block" data-bs-dismiss="modal">Add Interview</button>
                    <button type="button" class="btn btn-secondary d-inline-block" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        const Token = '@Context.Session.GetString("JWToken")'
        $.ajax({
            url: "https://localhost:7273/api/clients",
            headers: {
                'Authorization': 'Bearer ' + Token
            }
        }).done(function (result) {
            // Assuming the API response contains a property named "totalEmployees"
            console.log(result)
            let getClientinInterview = ""
            $.each(result.data, (key, val) => {
                console.log(result)
                getClientinInterview += ` <option value="${val.guid}">${val.name}</option>`
            })
            $('.selectClientinInterview').append(getClientinInterview)
            $('.selectClientinInterview').on('change', function () {
                const selectedGuid = $(this).val();
                if (selectedGuid !== 'default') {
                    loadPositionbyClientGuid(selectedGuid);
                }
            });
            $('#guidClient').select2({
                theme: "bootstrap-5",
                dropdownParent: $('#modalAddInterview')
            });
        })
        $("#interviewDate").flatpickr({
            enableTime: true,
            time_24hr: true,
            altInput: true,
            minTime: "09:00",
            maxTime: "18:00",
            altFormat: "F j, Y H:i",
            dateFormat: "Y-m-dTH:i",
            minDate: "today",
            disable: [
                function (date) {
                    return (date.getDay() === 0 || date.getDay() === 6);
                }
            ]
        })
        function loadPositionbyClientGuid(guidClient) {
            $.ajax({
                url: "https://localhost:7273/api/positions/GetPosition/" + guidClient,
                type: "GET",
                dataType: "json",
                headers: {
                    'Authorization': 'Bearer ' + Token
                }
            }).done((result) => {
                console.log(result)
                let getPositioninInterview = ""
                let selectLabel = `<label for="positionGuid" class="form-label"> Position Name</label>
                                            <select class="form-select selectPositioninInterview" aria-label="Default select example" id="positionGuid">
                                                <option value="default">Select a position...</option>
                                            </select>`
                $.each(result.data, (key, val) => {
                    getPositioninInterview += ` <option value="${val.guid}">${val.positionName}</option>`
                })
                $('#selectPosition').html(selectLabel)
                $('.selectPositioninInterview').append(getPositioninInterview)

                $('#positionGuid').select2({
                    theme: "bootstrap-5",
                    dropdownParent: $('#modalAddInterview')
                });
            })
        }
        $.ajax({
            url: "https://localhost:7273/api/employees/GetAllEmployeeinIdle",
            headers: {
                'Authorization': 'Bearer ' + Token
            }
        }).done((result)=>{
            let cardEmployee =""
            $.each(result.data,(key,val)=>{
                cardEmployee += `<div class="col-xl-3 col-md-6 mb-xl-0 mb-4 ms-2">
                                    <div class="card card-blog card-plain" data-bs-toggle="modal" data-bs-target="#modalAddInterview">
                                <div class="position-relative">
                                    <a class="d-block shadow-xl border-radius-xl">
                                               <img src="https://w7.pngwing.com/pngs/81/570/png-transparent-profile-logo-computer-icons-user-user-blue-heroes-logo-thumbnail.png" class="img-fluid shadow border-radius-xl">
                                    </a>
                                </div>
                                <div class="card-body px-1 pb-0">
                                    <p class="text-gradient text-dark mb-2 text-sm">${val.nik}</p>
                                    <a href="javascript:;">
                                        <h5>
                                            ${val.fullName} (${val.phoneNumber})
                                        </h5>
                                            <div class="row">
                                                 <div class="col-4">Email</div>
                                                 <div class="col-8">${val.email}</div>
                                            </div>
                                            <div class="row">
                                                 <div class="col-4">Gender</div>
                                                 <div class="col-8">${val.gender == 0?"Female":"Male"}</div>
                                            </div>
                                            <div class="row">
                                                 <div class="col-4">Grade</div>
                                                 <div class="col-8">${val.grade}</div>
                                            </div>
                                            <div class="row">
                                                 <div class="col-4">Salary</div>
                                                 <div class="col-8">${val.salary}</div>
                                            </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <button type="button" class="btn btn-outline-primary btn-sm mt-2 ms-3">${val.skill}</button>
                                    </div>
                                </div>
                            </div>
                        </div>`
                $("#inputGuid").html(`<input type="hidden" value="${val.employeeGuid}" id="guidEmployee" />`)
            })
            $("#employeeCard").html(cardEmployee)
        })
        function addInterview() {
            var interviewData = {
                guid: $("#guidEmployee").val(),
                interviewDate: $("#interviewDate").val(),
                clientGuid: $("#guidClient").val(),
                positionGuid: $("#positionGuid").val(),
                text: $("#text").val()
            };

            $.ajax({
                url: "https://localhost:7273/api/interviews",
                type: "POST",
                headers: {
                    'Authorization': 'Bearer ' + Token,
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(interviewData),
            }).done(function (result) {
                Swal.fire({
                    title: 'Success',
                    text: 'Data has been successfully inserted',
                    icon: 'success'
                }).then(function () {
                    location.reload();
                });
            }).fail(function (error) {
                Swal.fire({
                    title: 'Oops',
                    text: 'Failed to insert data. Please try again.',
                    icon: 'error'
                });
                console.log(error)
            });
        }
    </script>
}