@using System.Net.Http
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Client</title>
    @*Offline Style*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    
    @*Online Style*@
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.5.1.js" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.9.0/css/mdb.min.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/soft-ui/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/soft-ui/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/soft-ui/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="~/soft-ui/assets/css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    @await RenderSectionAsync("CSS", required: false)
    <title>Resource Placement</title>
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo mt-3 fs-4">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name">
                <span>
                    Metrodata
                </span>
                <br />
                Academy
            </div>
        </a>
        <ul class="side-menu">
                <li>
                    <a asp-controller="ResourcePlacement" asp-action="Index">
                        <i class='bx bxs-dashboard'></i>
                        Dashboard
                    </a>
                </li>

                
                @if(@User.IsInRole("Admin"))
                {
                <li>
                    <a asp-controller="ResourcePlacement" asp-action="AccountIndex">
                        <i class='bx bx-user'></i>
                        Account
                    </a>
                </li>
                <li>
                    <a asp-controller="ResourcePlacement" asp-action="AccountRoleIndex">
                        <i class='bx bxs-user-account'></i>
                        Account Role
                    </a>
                </li>

                <li>
                    <a asp-controller="ResourcePlacement" asp-action="RoleIndex">
                        <i class='bx bxs-user-badge'></i>
                        Role
                    </a>
                </li>
                }
                @if(User.IsInRole("Admin")||User.IsInRole("Trainer")||User.IsInRole("Operasional"))
                {
                <li>
                    <a asp-controller="ResourcePlacement" asp-action="EmployeeIndex">
                        <i class='bx bx-group'></i>
                        Employee
                    </a>
                </li>
                }
                @if(User.IsInRole("Admin")||User.IsInRole("Trainer"))
                {
                    <li>
                        <a asp-controller="ResourcePlacement" asp-action="GradeIndex">
                            <i class='bx bx-award'></i>
                            Grade
                        </a>
                    </li>
                }
                @if(User.IsInRole("Admin")||User.IsInRole("Operasional"))
                {
                    <li>
                        <a asp-controller="ResourcePlacement" asp-action="InterviewIndex">
                            <i class='bx bx-calendar-event'></i>
                            Interview
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ResourcePlacement" asp-action="HistoryIndex">
                            <i class='bx bx-calendar-event'></i>
                            History
                        </a>
                    </li>

                    <li>
                        <a asp-controller="ResourcePlacement" asp-action="ClientIndex">
                            <i class='bx bx-building'></i>
                            Client
                        </a>
                    </li>

                    <li>
                        <a asp-controller="ResourcePlacement" asp-action="PositionIndex">
                            <i class='bx bx-been-here'></i>
                            Position
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ResourcePlacement" asp-action="ResultIndex">
                        <i class='bx bx-chart'></i>
                            Result
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ResourcePlacement" asp-action="PlacementIndex">
                        <i class='bx bx-building-house'></i>
                            Placement
                        </a>
                    </li>
                <div class="dropdown">
                    &nbsp;&nbsp;&nbsp;<a class="dropbtn mb-2">
                        <i class='bx bx-task'></i> Interview Menu
                        </a>
                    <div class="dropdown-content">
                        <ul>
                            <li>
                                <a asp-controller="Interview" asp-action="EmployeeAccepted">
                                    <i class='bx bx-user-check'></i>
                                    Employee Accept
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Interview" asp-action="EmployeeRejected">
                                    <i class='bx bx-user-x'></i>
                                    Employee Reject
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Interview" asp-action="EmployeeWaiting">
                                    <i class='bx bx-time-five'></i>
                                    Employee Waiting
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Interview" asp-action="ClientAccepted">
                                    <i class='bx bx-message-square-check'></i>
                                    Client Accept
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Interview" asp-action="ClientRejected">
                                    <i class='bx bx-message-square-x'></i>
                                    Client Reject
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown">
                    &nbsp;&nbsp;&nbsp;<a class="dropbtn mb-2"><i class='bx bx-user'></i> Employee Menu</a>
                    <div class="dropdown-content">
                        <ul>
                            <li>
                                <a asp-controller="Employee" asp-action="EmployeeSite">
                                    <i class='bx bx-user-pin'></i>
                                    Employee in Site
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Employee" asp-action="EmployeeIdle">
                                    <i class='bx bx-user-circle'></i>
                                    Employee Idle
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                }
                @if(User.IsInRole("Admin")||User.IsInRole("Employee"))
                {
                    <li>
                        <a asp-controller="ResourcePlacement" asp-action="NotifikasiIndex">
                            <i class='bx bx-message-detail'></i>
                            Notification
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ResourcePlacement" asp-action="DetailIndex">
                            <i class='bx bxs-user-detail'></i>
                            Detail
                        </a>
                    </li>
                }
        </ul>
    </div>
    <!-- End of Sidebar -->
    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <p class="h5">Resource Placement</p>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            @if (User.IsInRole("Admin"))
            {
                <span class="badge rounded-pill bg-primary fs-6">Admin</span>
            }
            @if (User.IsInRole("Operasional"))
            {
                <span class="badge rounded-pill bg-primary fs-6">Operational</span>
            }
            @if (User.IsInRole("Employee"))
            {
                <span class="badge rounded-pill bg-primary fs-6">Employee</span>
            }
            @if (User.IsInRole("Trainer"))
            {
                <span class="badge rounded-pill bg-primary fs-6">Trainer</span>
            }
            <div class="dropdown">
                <a class="profile dropdown-toggle"
                        id="dropdownMenuButton"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false">
                        <img src="~/images/logo.png">
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start" aria-labelledby="dropdownMenuButton">
                    <li><h6 class="dropdown-header">Resource Placement</h6></li>
                    <li>
                        <a class="dropdown-item disabled" href="#">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar avatar-online">
                                        <img src="~/images/logo.png" alt class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="fw-semibold d-block" id="employee">@User.FindFirst("Fullname").Value</span>

                                    <small class="text-muted">@User.FindFirst("Email").Value</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item" asp-area="" asp-controller="ResourcePlacement" asp-action="Login">
                            Logout
                        </a>
                    </li> 
                </ul>
            </div>    
        </nav>

        <!-- End of Navbar -->

        <main>
            @RenderBody()

        </main>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @*Offline Library*@
    <script src="~/js/index.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/soft-ui/assets/js/core/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/soft-ui/assets/js/core/popper.min.js"></script>
    <script src="~/soft-ui/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/soft-ui/assets/js/plugins/smooth-scrollbar.min.js"></script>
    
    @*Online Library*@
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.colVis.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.13/sorting/datetime-moment.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.9.0/js/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
        $(document).ready(function () {
            $(".dropbtn").click(function () {
                $(this).next(".dropdown-content").slideToggle();
            });
        });
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    @*Page Script*@
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

