@using System.Net.Http
@{
}
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-danger">Interview Reports @User.FindFirst("Fullname").Value</button>
</div>

<div class="recent-orders table-responsive">
    <table class="table table-striped table-hover" id="historyTable">
        <thead>
            <tr>
                <th>No</th>
                <th>Client</th>
                <th>Position</th>
                <th>Interview Date</th>
                <th>Is Accepted</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts
{
    <script>
        const Token = '@Context.Session.GetString("JWToken")'
        $('#historyTable').DataTable({
            ajax: {
                url: "https://localhost:7273/api/histories/GetHistoryByEmployeeGuid/@User.FindFirst("Guid").Value",
                dataType: "JSON",
                dataSrc: "data",
                headers: {
                    'Authorization': 'Bearer ' + Token
                }
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        return meta.row + 1;
                    }
                },
                { data: "clientName" },
                { data: "positionName" },
                {
                    data: 'interviewDate',
                    render: function (data, type, row) {
                        return moment(data).format("D MMMM YYYY, HH:mm");;
                    }
                },
                {
                    data: "isAccepted",
                    render: function (data, type, row) {
                        return data === true ? `<box-icon type='solid' name='user-check' color='green' size='md'></box-icon>` : `<box-icon type='solid' name='user-x' color ='red' size='md'></box-icon>`;
                    }
                },
                {
                    data: "status",
                    render: function (data, type, row) {
                        if (data == 0) {
                            return `<box-icon name='loader'></box-icon>`
                        }
                        if (data == 1) {
                            return `<box-icon name='calendar-check' ></box-icon>`
                        }
                        if (data == 2) {
                            return `<box-icon name='calendar-x' type='solid' ></box-icon>`
                        }
                        if (data == 3) {
                            return `<box-icon type='solid' name='check-circle'></box-icon>`
                        }
                        if (data == 4) {
                            return `<box-icon type='solid' name='x-circle'></box-icon>`
                        }
                        return data === true ? `<box-icon type='solid' name='user-check' color='green' size='md'></box-icon>` : `<box-icon type='solid' name='user-x' color ='red' size='md'></box-icon>`;
                    }
                },
            ],
            "dom":
                "<'row'<'col-md-2'f><'col-md-6'><'col-md-4'p>>" +
                "<'row'<'col-sm-12'tr>>" + // Tabel
                "<'row'<'col-md-5'i><'col-md-3 mt-2'l>>",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": 25
        });
    </script>
}
