
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "LoginLayout";
}

@*<div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-1">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                        <p class="text-center h1 fw-bold mb-5 mx-md-4 mt-4">Reset Password</p>

                        <form class="mx-1 mx-md-4">

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" for="emailchange">Email</label>
                                    <input type="email" id="emailchange" class="form-control" />
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" for="passwordchange">Password</label>
                                    <input type="password" id="passwordchange" class="form-control" />
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" for="newPassword">Repeat Password</label>
                                    <input type="password" id="newPassword" class="form-control" />
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-4">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                <div class="form-outline flex-fill mb-0">
                                    <label class="form-label" for="otp">OTP</label>
                                    <input type="number" id="otp" class="form-control" />
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="button" onclick="changepassword()" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem;">Reset Password</button>
                            </div>

                        </form>

                    </div>
                    <div class="col-sm-10 col-md-6 d-flex align-items-center order-1">

                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                             class="img-fluid" alt="Sample image">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="login-card">
    <p class="text-center h1 fw-bold mb-4 mx-auto mt-1">Reset Password</p>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form class="mx-1 mx-md-4">
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="emailchange">Email</label>
                            <input type="email" id="emailchange" class="form-control" />
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="passwordchange">Password</label>
                            <input type="password" id="passwordchange" class="form-control" />
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="newPassword">Repeat Password</label>
                            <input type="password" id="newPassword" class="form-control" />
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label" for="otp">OTP</label>
                            <input type="number" id="otp" class="form-control" />
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 mt-3">
                        <button type="button" onclick="changepassword()" class="btn btn-primary" style="padding-left: 2.5rem; padding-right: 2.5rem;">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function changepassword() {
            var changepassword = {
                email: $("#emailchange").val(),
                password: $("#passwordchange").val(),
                newPassword: $("#newPassword").val(),
                otp: $("#otp").val()
            };

            $.ajax({
                url: "https://localhost:7273/api/accounts/changepassword",
                type: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(changepassword),
            }).done(function (result) {
                Swal.fire({
                    title: 'Success',
                    text: 'Change Password Success',
                    icon: 'success'
                }).then(function () {
                    window.location.href = 'https://localhost:7218/';
                });
            }).fail(function (error) {
                Swal.fire({
                    title: 'Oops',
                    text: 'Change Password Failed, Please Try Again.',
                    icon: 'error'
                });
                console.log(error)
            });
        }
    </script>
}
