
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "LoginLayout";
}

<div class="login-card">
    <h2>Change Password</h2>
    <form class="login-form">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailchange" aria-describedby="emailHelp" placeholder="Email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordchange" placeholder="Password">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Konfirmasi Password</label>
            <input type="password" class="form-control" id="newPassword" placeholder="Password">
        </div>
        <div class="mb-3">
            <label for="exampleOTP" class="form-label">OTP</label>
            <input type="number" class="form-control" id="otp" placeholder="OTP">
        </div>
        
        <button type="submit" class="btn btn-primary mb-3">Change Password</button>
    </form>
</div>

@section Scripts {
    <script>
        function changepassword() {
            var changepassword = {
                email: $("#emailchange").val(),
                password: $("#passwordchange").val(),,
                newPassword: $("#newPassword").val(),
                otp: $("#otp").val()
            };

            $.ajax({
                url: "https://localhost:7273/api/accounts/changepassword",
                type: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(accountData),
            }).done(function (result) {
                Swal.fire({
                    title: 'Success',
                    text: 'Otp has been sent to your email',
                    icon: 'success'
                }).then(function () {
                    location.reload();
                });
            }).fail(function (error) {
                Swal.fire({
                    title: 'Oops',
                    text: 'Failed to send email. Please try again.',
                    icon: 'error'
                });
                console.log(error)
            });
        }
    </script>
}
