@{
    Layout = "AdminLayout";
}

<!-- Modal -->
<div class="text-center">
    <h1 class="align-content-center" id="judul">List Client</h1>
</div>
<div class="text-center mt-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddAccount">Add Account</button>
</div>

<div class="add-account">
    <div class="modal" id="modalAddAccount" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Client</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="password" class="form-label"> Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="mb-3">
                            <label for="otp" class="form-label"> Is Available</label>
                            <input type="text" class="form-control" id="isAvailable" placeholder="Is Available">
                        </div>
                        <div class="mb-3">
                            <label for="isUsed" class="form-label"> Capacity</label>
                            <input type="text" class="form-control" id="capacity" placeholder="Capacity">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="addClient()" class="btn btn-primary d-inline-block" data-bs-dismiss="modal">Add Client</button>
                    <button type="button" class="btn btn-secondary d-inline-block" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recent-orders">
    <table id="clientTable">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Is Available</th>
                <th>Capacity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbodyClient">
        </tbody>
    </table>
</div>

<div class="modal" id="modalUpdateClient" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label"> Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <label for="isAvailable" class="form-label"> Is Available</label>
                        <input type="text" class="form-control" id="isAvailable" placeholder="Is Available">
                    </div>
                    <div class="mb-3">
                        <label for="capacity" class="form-label"> Capacity</label>
                        <input type="text" class="form-control" id="capacity" placeholder="Capacity">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="UpdateClient()" class="btn btn-primary d-inline-block" data-bs-dismiss="modal">Update Client</button>
                <button type="button" class="btn btn-secondary d-inline-block" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>