@{
    Layout = "AdminLayout";
}

<!-- Modal -->
<div class="text-center">
    <h1 class="align-content-center" id="judul">Interview</h1>
</div>
<div class="text-center mt-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddInterview" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Add Interview">
        <i class='bx bx-user-plus'></i>
    </button>
</div>

<div class="add-interview">
    <div class="modal" id="modalAddInterview" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Interview Schedule</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="guid" class="form-label"> Name</label>
                            <select class="form-select selectNameinInterview" aria-label="Default select example" id="guidEmployee"></select>
                        </div>
                        <div class="mb-3">
                            <label for="interviewDate" class="form-label"> Interview Date</label>
                            <input type="datetime-local" class="form-control" id="interviewDate" placeholder="Interview Date">
                        </div>
                        <div class="mb-3">
                            <label for="clientGuid" class="form-label"> Client Name</label>
                            <select class="form-select selectClientinInterview" aria-label="Default select example" id="guidClient"></select>
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label">Notes</label>
                            <input type="text" class="form-control" id="text" placeholder="Text">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="addInterview()" class="btn btn-primary d-inline-block" data-bs-dismiss="modal">Add Interview</button>
                    <button type="button" class="btn btn-secondary d-inline-block" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recent-orders table-responsive">
    <table class="table table-striped table-hover" id="interviewTable">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Client</th>
                <th>Interview Date</th>
                <th>Is Accepted</th>
                <th>Status</th>
                <th>Text</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal" id="modalUpdateInterview" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <input type="hidden" class="form-control" id="guidEmployeeUpd" />
                    </div>
                    <div class="mb-3">
                        <label for="interviewDate" class="form-label"> Interview Date</label>
                        <input type="datetime-local" class="form-control" id="interviewDateUpd" placeholder="Interview Date">
                    </div>
                    <div class="mb-3">
                        <label for="clientGuid" class="form-label"> Client Name</label>
                        <select class="form-select selectClientinInterview" aria-label="Default select example" id="clientGuidUpd"></select>
                    </div>
                    <div class="mb-3">
                        <label for="clientGuid" class="form-label"> Client Name</label>
                        <select class="form-select selectClientinInterview" aria-label="Default select example" id="clientGuidUpd"></select>
                    </div>
                    <div class="mb-3">
                        <label for="text" class="form-label">Notes</label>
                        <input type="text" class="form-control" id="textUpd" placeholder="Text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="UpdateInterview()" class="btn btn-primary d-inline-block" data-bs-dismiss="modal">Update Interview</button>
                <button type="button" class="btn btn-secondary d-inline-block" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-placement="top"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        $(document).ready(function () {
            loadInterviewData();

            $.ajax({
                url: "https://localhost:7273/api/interviews/GetRemainingEmployeeinInterview"
            }).done(function (result) {
                console.log(result)
                let getName = ""
                $.each(result.data, (key, val) => {
                    console.log(result)
                    getName += ` <option value="${val.guid}">${val.fullName}</option>`
                })
                $('.selectNameinInterview').html(getName)
            })
            $.ajax({
                url: "https://localhost:7273/api/clients"
            }).done(function (result) {
                // Assuming the API response contains a property named "totalEmployees"
                console.log(result)
                let getClientinInterview = ""
                $.each(result.data, (key, val) => {
                    console.log(result)
                    getClientinInterview += ` <option value="${val.guid}">${val.name}</option>`
                })
                $('.selectClientinInterview').html(getClientinInterview)
            })
        });

        function loadInterviewData() {
            $('#interviewTable').DataTable({
                ajax: {
                    url: "https://localhost:7273/api/interviews/InterviewInformatif",
                    dataType: "JSON",
                    dataSrc: "data"
                },
                columns: [
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            return meta.row + 1;
                        }
                    },
                    { data: "fullName" },
                    { data: "clientName"},
                    {
                        data: 'interviewDate',
                        render: function (data, type, row) {
                            return moment(data).format("D MMMM YYYY, HH:mm");;
                        }
                    },
                    {
                        data: "isAccepted",
                        render: function (data, type, row) {
                            return data === true ? `<box-icon type='solid' name='user-check' color='green' size='md'></box-icon>` : `<box-icon type='solid' name='user-x' color ='red' size='md'></box-icon>`;
                        }
                    },
                    {
                        data: "status",
                        render: function (data, type, row) {
                            if(data == 0)
                            {
                                return `<box-icon name='loader'></box-icon>`
                            }
                            if(data == 1)
                            {
                                return `<box-icon name='calendar-check' ></box-icon>`
                            }
                            if(data == 2)
                            {
                                return `<box-icon name='calendar-x' type='solid' ></box-icon>`
                            }
                            if(data == 3)
                            {
                                return `<box-icon type='solid' name='check-circle'></box-icon>`
                            }
                            if(data == 4)
                            {
                                return `<box-icon type='solid' name='x-circle'></box-icon>`
                            }
                            return data === true ? `<box-icon type='solid' name='user-check' color='green' size='md'></box-icon>` : `<box-icon type='solid' name='user-x' color ='red' size='md'></box-icon>`;
                        }
                    },
                    { data: "text" },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return `<button onclick="ShowUpdateInterview('${row.guid}')" data-bs-toggle="modal" data-bs-target="#modalUpdateInterview" class="btn btn-info" data-bs-placement="top" title="Update Data"><i class='bx bx-edit'></i></button>` +
                                `   <button onclick="deleteInterview('${row.guid}')" class="btn btn-danger" data-bs-toggle="modal" data-bs-placement="top" title="Delete Data"><i class='bx bxs-trash-alt'></i></button>`;
                        }
                    }
                ],
                "dom":
                    "<'row'<'col-md-8'B><'col-md-4'f>>" + 
                    "<'row'<'col-sm-12'tr>>" + // Tabel
                    "<'row'<'col-md-5'i><'col-md-3 mt-2 mx-auto'l><'col-md-4'p>>", 
                "buttons": [
                    {
                        extend: 'copy',
                        text: '<i class="bx bxs-copy"></i>',
                        className: 'btn btn-custom'
                    },
                    {
                        extend: 'csv',
                        text: '<i class="bx bxs-file-export"></i>',
                        className: 'btn btn-custom'
                    },
                    {
                        extend: 'excel',
                        text: '<i class="bx bx-file-blank"></i>',
                        className: 'btn btn-custom'
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="bx bxs-file-pdf"></i>',
                        className: 'btn btn-custom'
                    },
                    {
                        extend: 'print',
                        text: '<i class="bx bx-printer"></i>',
                        className: 'btn btn-custom'
                    },
                    {
                        extend: 'colvis',
                        text: '<i class="bx bx-show-alt"></i>', // Ganti teks dengan ikon Boxicons
                        className: 'btn btn-custom-column-vis'
                    }
                ],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "pageLength": 25
            });
        }

        function addInterview() {
            var interviewData = {
                guid: $("#guidEmployee").val(),
                interviewDate: $("#interviewDate").val(),
                clientGuid: $("#guidClient").val(),
                text: $("#text").val()
            };

            $.ajax({
                url: "https://localhost:7273/api/interviews",
                type: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify(interviewData),
            }).done(function (result) {
                Swal.fire({
                    title: 'Success',
                    text: 'Data has been successfully inserted',
                    icon: 'success'
                }).then(function () {
                    location.reload();
                });
            }).fail(function (error) {
                Swal.fire({
                    title: 'Oops',
                    text: 'Failed to insert data. Please try again.',
                    icon: 'error'
                });
                console.log(error)
            });
        }

        function deleteInterview(guid) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'Changes cannot be reverted!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Delete Data'
            }).then(function (result) {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "https://localhost:7273/api/interviews?guid=" + guid,
                        type: "DELETE",
                    }).done(function (result) {
                        Swal.fire({
                            title: 'Deleted',
                            text: 'Data has been successfully deleted',
                            icon: 'success'
                        }).then(function () {
                            location.reload();
                        });
                    }).fail(function (error) {
                        alert("Failed to delete data. Please try again!");
                    });
                }
            });
        }
        function ShowUpdateInterview(guid) {
            $.ajax({
                url: "https://localhost:7273/api/interviews/" + guid,
                type: "GET",
                dataType: "json"
            }).done((result) => {
                console.log(result)
                $("#guidEmployeeUpd").val(result.data.guid);
                $("#interviewDateUpd").val(result.data.interviewDate);
                $("#clientGuidUpd").val(result.data.clientGuid);
                $("#textUpd").val(result.data.text);
            }).fail((error) => {
                alert("Failed to fetch account data. Please try again.");
                console.log(error)
            });

        }

        function UpdateInterview() {


            let data = {
                guid: $("#guidEmployeeUpd").val(),
                interviewDate: $("#interviewDateUpd").val(),
                clientGuid: $("#clientGuidUpd").val(),
                text: $("#textUpd").val()
            };
            $.ajax({
                url: "https://localhost:7273/api/interviews",
                type: "PUT",
                contentType: "application/json",
                data: JSON.stringify(data)
            }).done((result) => {
                Swal.fire({
                    title: 'Success',
                    text: 'Data has been successfully updated',
                    icon: 'success'
                }).then(function () {
                    location.reload();
                });
            }).fail((error) => {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Failed to insert data! Please try again.'
                })
                console.log(error)
            })
        }
    </script>
}