@using System.Net.Http
@{
}
@*<div class="container-fluid py-4">
    <p class="text-center h1 fw-bold mb-4 mx-auto mt-1">Result Interview Table</p>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6> </h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0" id="resultTable">
                            <thead class="table-dark">
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Client</th>
                                    <th>Interview Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<p class="text-center h1 fw-bold mb-4 mx-auto mt-1">Result Interview Table</p>

<div class="recent-orders table-responsive">
    <table class="table table-striped table-hover" id="resultTable">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Client</th>
                <th>Interview Date</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script>
        $(document).ready(()=>{
            loadResultData()
        })
        function loadResultData() {
            $('#resultTable').DataTable({
                ajax: {
                    url: "https://localhost:7273/api/interviews/InterviewBeforeAcceptedbyClient",
                    dataType: "JSON",
                    dataSrc: "data",
                    headers: {
                        'Authorization': 'Bearer ' + Token
                    }
                },
                columns: [
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            return meta.row + 1;
                        }
                    },
                    { data: "fullName" },
                    { data: "clientName" },
                    {
                        data: 'interviewDate',
                        render: function (data, type, row) {
                            return moment(data).format("D MMMM YYYY, HH:mm");;
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return `<button onclick="InterviewAcceptedbyClient('${row.guid}')" class="btn btn-info" data-bs-placement="top" title="Accepted Employee"><box-icon name='check' color="white" size="sm"></box-icon></button>` +
                                   `<button onclick="InterviewRejectedbyClient('${row.guid}')" class="btn btn-danger ms-2"  data-bs-placement="top" title="Rejected Employee"><box-icon name='x' color="white" size="sm"></box-icon></button>
                                   <input type="hidden" value="${row.clientGuid}" id="client"/>
                                   <input type="hidden" value="${row.interviewDate}" id="interviewDate"/>
                                   <input type="hidden" value="${row.text}" id="note"/>`;
                        }
                    }
                ],
                "dom":
                    "<'row'<'col-md-8'B><'col-md-4'f>>" +
                    "<'row'<'col-sm-12'tr>>" + // Tabel
                    "<'row'<'col-md-5'i><'col-md-3 mt-2 mx-auto'l><'col-md-4'p>>",
                "buttons": [
                    {
                        extend: 'copy',
                        text: '<i class="bx bxs-copy"></i>',
                        className: 'btn btn-custom',
                        title: 'Copy'
                    },
                    {
                        extend: 'csv',
                        text: '<i class="bx bxs-file-export"></i>',
                        className: 'btn btn-custom'
                    },
                    {
                        extend: 'excel',
                        text: '<i class="bx bx-file-blank"></i>',
                        className: 'btn btn-custom'
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="bx bxs-file-pdf"></i>',
                        className: 'btn btn-custom'
                    },
                    {
                        extend: 'print',
                        text: '<i class="bx bx-printer"></i>',
                        className: 'btn btn-custom'
                    },
                    {
                        extend: 'colvis',
                        text: '<i class="bx bx-show-alt"></i>', // Ganti teks dengan ikon Boxicons
                        className: 'btn btn-custom-column-vis'
                    }
                ],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "pageLength": 25
            });
        }
        function InterviewAcceptedbyClient(guidEmployee) {
            let data = {
                guid: guidEmployee,
                interviewDate: $("#interviewDate").val(),
                clientGuid: $("#client").val(),
                text: $("#note").val(),
                isAccepted: true,
                status: 3,
            }
            $.ajax({
                url: "https://localhost:7273/api/interviews/UpdateFullInterview",
                type: "PUT",
                contentType: "application/json",
                data: JSON.stringify(data),
                headers: {
                    'Authorization': 'Bearer ' + Token
                }
            }).done((result) => {
                Swal.fire({
                    title: 'Success',
                    text: 'Data Interview has been successfully updated',
                    icon: 'success'
                }).then(function () {
                    location.reload();
                });
            }).fail((error) => {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Failed to Updated data Interview! Please try again.'
                })
                console.log(error)
            })
        }
        function InterviewRejectedbyClient(guidEmployee) {
            let data = {
                guid: guidEmployee,
                interviewDate: $("#interviewDate").val(),
                clientGuid: $("#client").val(),
                text: $("#note").val(),
                isAccepted: false,
                status: 4,
            }
            $.ajax({
                url: "https://localhost:7273/api/interviews/UpdateFullInterview",
                type: "PUT",
                contentType: "application/json",
                data: JSON.stringify(data),
                headers: {
                    'Authorization': 'Bearer ' + Token
                }
            }).done((result) => {
                Swal.fire({
                    title: 'Success',
                    text: 'Data Interview has been successfully updated',
                    icon: 'success'
                }).then(function () {
                    location.reload();
                });
            }).fail((error) => {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Failed to Updated data Interview! Please try again.'
                })
                console.log(error)
            })
        }
    </script>
}