@using System.Net.Http
@{
}
<div class="container-fluid py-4">
    <h1 class="text-center"><span class="badge rounded-pill text-bg-dark">LIST EMPLOYEE ACCEPTED SCHEDULE</span></h1>
    <div class="row mt-4" id="employeeCard">
    </div>
</div>

@section Scripts{
    <script>
        const Token = '@Context.Session.GetString("JWToken")'
        $( document ).ajaxComplete(function() {
            $('[data-bs-placement="top"]').tooltip({
                "html": true,
                "delay": {"show": 200, "hide": 0},
            });
            const tooltipTriggerList = document.querySelectorAll('[data-bs-placement="top"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        });
        $.ajax({
            url: 'https://localhost:7273/api/interviews/GetAllEmployeeAcceptedbyEmployee',
            headers: {
                'Authorization': 'Bearer ' + Token
            }
        }).done((result) => {
            let employeeCard = ""
            $.each(result.data, (key, val) => {
                employeeCard += `<div class="col-lg-4">
                                                            <div class="card h-100 p-3" >
                                                                <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('~/soft-ui/assets/img/ivancik.jpg');">
                                                                    <span class="mask bg-gradient-dark"></span>
                                                                    <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
                                                                                <h5 class="text-white font-weight-bolder mb-4 pt-2">${val.fullName}</h5>
                                                                                                <div class="row text-light">
                                                                                                    <div class="col-4">Client</div>
                                                                                                    <div class="col-8">${val.clientName}</div>
                                                                                                </div>
                                                                                                <div class="row text-light">
                                                                                                    <div class="col-4">Position</div>
                                                                                                    <div class="col-8">${val.positionName}</div>
                                                                                                </div>
                                                                                                <div class="row text-light">
                                                                                            <div class="col-4">Interview Date</div>
                                                                                            <div class="col-8">${val.interviewDate != null ? moment(val.interviewDate).format("dddd, D MMMM YYYY, HH:mm") : null}</div>
                                                                                        </div>
                                                                                                <input type="hidden" value="${val.clientGuid}" id="client"/>
                                                                                               <input type="hidden" value="${val.interviewDate}" id="interviewDate"/>
                                                                                               <input type="hidden" value="${val.text}" id="note"/>
                                                                                                <div class="row mt-2">
                                                                                            <div class="col">
                                                                                                    <button onclick="InterviewAcceptedbyClient('${val.guid}')" class="btn btn-info" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Client Accept"><box-icon name='check' color="white" size="md"></box-icon></button>
                                                                                                    <button onclick="InterviewRejectedbyClient('${val.guid}')" class="btn btn-danger ms-2"  data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Client Reject"><box-icon name='x' color="white" size="md"></box-icon></button>
                                                                                             </div>
                                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>`

            })
            $("#employeeCard").html(employeeCard)
        })
        function InterviewAcceptedbyClient(guidEmployee) {
            let data = {
                guid: guidEmployee,
                comment:null,
                isAccepted: true,
                status: 3,
            }
            $.ajax({
                url: "https://localhost:7273/api/interviews/UpdateFullInterview",
                type: "PUT",
                contentType: "application/json",
                data: JSON.stringify(data),
                headers: {
                    'Authorization': 'Bearer ' + Token
                }
            }).done((result) => {
                Swal.fire({
                    title: 'Success',
                    text: 'Data Interview has been successfully updated',
                    icon: 'success'
                }).then(function () {
                    location.reload();
                });
            }).fail((error) => {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Failed to Updated data Interview! Please try again.'
                })
                console.log(error)
            })
        }
        function InterviewRejectedbyClient(guidEmployee) {
            let data = {
                guid: guidEmployee,
                comment:null,
                isAccepted: false,
                status: 4,
            }
            $.ajax({
                url: "https://localhost:7273/api/interviews/UpdateFullInterview",
                type: "PUT",
                contentType: "application/json",
                data: JSON.stringify(data),
                headers: {
                    'Authorization': 'Bearer ' + Token
                }
            }).done((result) => {
                Swal.fire({
                    title: 'Success',
                    text: 'Data Interview has been successfully updated',
                    icon: 'success'
                }).then(function () {
                    location.reload();
                });
            }).fail((error) => {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Failed to Updated data Interview! Please try again.'
                })
                console.log(error)
            })
        }
    </script>

}